.button {
	display: flex;
	align-items: center;
	justify-content: center;
	
	text-transform: uppercase;

	font-weight: bold;
    font-size: 0.875rem;
	letter-spacing: 0.03em;
    min-width: 64px;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

	cursor: pointer;
	
	&--disabled {
		cursor: default;
	}

	&-text {
		color: rgb(25, 118, 210);
		background-color: transparent;
		border: 0px;
		padding: 6px 8px;

		&.button--disabled {
			color: rgba(0, 0, 0, 0.26);
		}

		&:hover:not(.button--disabled) {
			background-color: rgba(25, 118, 210, 0.04);
		}
	}

	

	&-contained {
		color: rgb(225, 255, 255);
		background-color: rgb(25, 118, 210);
		border: 0px;
		padding: 6px 16px;
		box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

		&.button--disabled {
			color: rgba(0, 0, 0, 0.26);
			box-shadow: none;
			background-color: rgba(0, 0, 0, 0.12);
		}

		&:hover:not(.button--disabled) {
			background-color: rgb(21, 101, 192);
			box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		}
	}

	&-outlined {
		border: 1px solid rgba(25, 118, 210, 0.5);
		padding: 5px 15px;
		background-color: rgba(0,0,0,0);
		color: rgb(25, 118, 210);
		
		&.button--disabled {
			color: rgba(0, 0, 0, 0.26);
			border: 1px solid rgba(0, 0, 0, 0.12);
		}

		&:hover:not(.button--disabled) {
			background-color: rgba(25, 118, 210, 0.04);
		}
	}

}