$iconSmallWidth: 1.125rem;
$iconSmallHeight: 1.125rem;
$iconMediumWidth: 1.25rem;
$iconMediumHeight: 1.25rem;
$iconLargeWidth: 1.375rem;
$iconLargeHeight: 1.375rem;

$buttonSmallFontSize: 0.8rem;
$buttonMediumFontSize: 0.9rem;
$buttonLargeFontSize: 1rem;



@mixin buttonSize($fontSize, $padding, $iconHeight, $iconWidth) {
	font-size: $fontSize;
	padding: $padding;

	& > .buttonIcon {
		height: $iconHeight;
		width: $iconWidth
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	
	gap: 1rem;
	text-transform: uppercase;
	min-width: 4rem;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 1.75;
	min-width: 64px;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

	cursor: pointer;

	&--disabled {
		cursor: default;
	}

	&-text {
		color: rgb(25, 118, 210);
		background-color: transparent;
		border: 0px;

		&:hover {
			background-color: rgba(25, 118, 210, 0.04);
		}

		&.button-success {
			color: rgb(46, 125, 50);
		}

		&.button-error {
			color: rgb(211, 47, 47);
		}

		&:hover {
			background-color: rgba(46, 125, 50, 0.04);
		}

		&.button--disabled {
			color: rgba(0, 0, 0, 0.26);
			&:hover {
				background-color: inherit;
			}
		}

		&.buttonSize-small {
			@include buttonSize($buttonSmallFontSize, 0.25rem 0.313rem, $iconSmallHeight, $iconSmallWidth);
		}

		&.buttonSize-medium {
			@include buttonSize($buttonMediumFontSize, 0.375rem 0.5rem, $iconMediumHeight, $iconMediumWidth);
		}

		&.buttonSize-large {
			@include buttonSize($buttonLargeFontSize, 0.5rem 0.688rem, $iconLargeHeight, $iconLargeWidth);
		}
	}

	&-contained {
		color: rgb(225, 255, 255);
		background-color: rgb(25, 118, 210);
		border: 0px;
		box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);

		&:hover {
			background-color: rgb(21, 101, 192);
			box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		}

		&.button-success {
			background-color: rgb(46, 125, 50);
			&:hover {
				background-color: rgb(27, 94, 32);
			}
		}

		&.button-error {
			background-color: rgb(211, 47, 47);
			&:hover {
				background-color: rgb(198, 40, 40);
			}
		}

		&.button--disabled {
			color: rgba(0, 0, 0, 0.26);
			box-shadow: none;
			background-color: rgba(0, 0, 0, 0.12);
		}

		&.buttonSize-small {
			@include buttonSize($buttonSmallFontSize, 0.25rem 0.625rem, $iconSmallHeight, $iconSmallWidth);
		}

		&.buttonSize-medium {
			@include buttonSize($buttonMediumFontSize, 0.375rem 1rem, $iconMediumHeight, $iconMediumWidth);
		}

		&.buttonSize-large {
			@include buttonSize($buttonLargeFontSize, 0.5rem 1.375rem, $iconLargeHeight, $iconLargeWidth);
		}
	}

	&-outlined {
		border: 1px solid rgba(25, 118, 210, 0.5);
		background-color: rgba(0, 0, 0, 0);
		color: rgb(25, 118, 210);

		&:hover {
			background-color: rgba(25, 118, 210, 0.04);
		}

		&.button-success {
			color: rgb(46, 125, 50);
			border: 1px solid rgba(46, 125, 50, 0.5);
			&:hover {
				background-color: rgba(46, 125, 50, 0.04);
				border: 1px solid rgb(46, 125, 50);
			}
		}

		&.button-error {
			color: rgb(211, 47, 47);
			border: 1px solid rgba(211, 47, 47, 0.5);
			&:hover {
				background-color: rgba(211, 47, 47, 0.04);
				border: 1px solid rgb(211, 47, 47);
			}
		}

		&.button--disabled {
			color: rgba(0, 0, 0, 0.26);
			border: 1px solid rgba(0, 0, 0, 0.12);
			background-color: transparent;
		}

		&.buttonSize-small {
			@include buttonSize($buttonSmallFontSize, 0.188rem 0.563rem, $iconSmallHeight, $iconSmallWidth);
		}

		&.buttonSize-medium {
			@include buttonSize($buttonMediumFontSize, 0.313rem 0.938rem, $iconMediumHeight, $iconMediumWidth);
		}

		&.buttonSize-large {
			@include buttonSize($buttonLargeFontSize, 0.438rem 1.313rem, $iconLargeHeight, $iconLargeWidth);
		}
	}
}
